<h1>Log In</h1>
<form action="/success" method="get">
  <label for="user_name_id">Username:</label>
  <input type="text" id="user_name_id" name="username_input" maxlength="255" minlength="6" required/>
  <br />
  <label for="pass_id">Password:</label>
  <input type="password" id="pass_id" name="password_input" maxlength="255" minlength="6" required/>
  <br />
  <input type="submit" value="Log In"/>
</form>
